<IfModule mod_headers.c>
    Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
    Header set Pragma "no-cache"
    Header set Expires "0"
</IfModule>

php_value upload_max_filesize 10M
php_value post_max_size 12M
php_value max_execution_time 60
